<div class="m_first-img_container">
    <img class="m_first-img" src="../../../assets/img/main_img.jpg" />

    <div class="m_first-img-content">
        <h4 class="m_first-img-content-title"> Trial Brightspace for 30 days </h4>
        <p class="m_first-img-content-info">
            Discover the tools and support on our LMS platform
            <br>
            It's Free
        </p>

        <button class="m_first-img-content-btn"> Try Now </button>
    </div>

    <div class="m_first-bottom_title">
        <h5 class="m_first-bottom-title-header"> Brightspace LMS for Education </h5>
        <p class="m_first-bottom-title-info">
            Brightspace is the learning platform with all the tools and support institutions need
            for a great teaching and learning experience.
        </p>
    </div>
</div>