.m_first-img_container{
    grid-row: 1/4;
    grid-column: 1/-1;

    height: 100%;
    display: grid;
    grid-template-rows: repeat(6 , 1fr);
    grid-template-columns: repeat(2 , 1fr);
}

.m_first-img{
    grid-row: 1/4;
    grid-column: 1/-1;
    height: 500px;
    background-color: grey;
    width: 100%;
}

.m_first-img-content{
    grid-row: 1/4;
    grid-column: 1/-1;
    
    height: 50%;
    width: 60%;
    align-self: center;
    display: grid;
    grid-template-rows: 8rem 1fr 5rem;
    grid-template-columns: 7rem repeat(2 , 1fr);
}

.m_first-img-content-title{
    grid-row: 1/2;
    grid-column: 2/-1;

    font-family: ARS Maquette;
    font-size: 52px;
    line-height: 58px;
    letter-spacing: -0.03em;

    color: #FFFFFF;
}

.m_first-img-content-info{
    grid-row: 2/3;
    grid-column: 2/-1;

    font-family: ARS Maquette;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.m_first-img-content-btn{
    grid-row: 3/4;
    grid-column: 2/3;

    width: 50%;
    height: 45px;
    font-size: 15px;
    line-height: 22px;

    letter-spacing: 0.02em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    align-self: center;
    justify-self: flex-start;
    background: #E87511;
    border-radius: 11px;
    color: white;
    text-transform: uppercase;
    border: none;
}

.m_first-bottom_title{
    grid-row: 5/-1;
    grid-column: 1/-1;

    display: grid;
    grid-template-rows: 3rem repeat(2 , 1fr);
    grid-template-columns: repeat(2 , 1fr);
}

.m_first-bottom-title-header{
    grid-row: 2/-1;
    grid-column: 1/-1;

    justify-self: center;
    align-self: flex-start;
    font-size: 30px;
    height: 10px;

    margin-bottom: 10px;    
    color: #000000;
}

.m_first-bottom-title-info{
    grid-row: 2/-1;
    grid-column: 1/-1;

    align-self: center;
    justify-self: center;
    height: 10px;

    font-size: 20px;
    
    width: 70%;
    text-align: center;
}