<div class="m_second-container">
    <h4 class="m_second-container-header"> Here are some reasons why our customers love Brightspace:  </h4>
    <img class="m_second-container-img" src="../../../assets/img/main-4.png" />

    <div class="m_second-container-info">
        <div class="m_second-container-info-card-1">
            <img class="m_second-container-card_icon" src="../../../assets/img/icon-4-1.png" />
            <h4 class="m_second-container-card_title"> Learn on any device, without any mobile apps </h4>
            <p class="m_second-container-card_info">
                Only leading learning management platform designed for mobile first. Full responsiveness and optimised
                to stay on track while on-the-go.
            </p>
        </div>

        <div class="m_second-container-info-card-2">
            <img class="m_second-container-card_icon" src="../../../assets/img/icon-4-2.png" />
            <h4 class="m_second-container-card_title"> Personalising the student experience </h4>
            <p class="m_second-container-card_info">
                Set up individualised learning paths for each of your students quickly and easily. Give personalised
                feedback to keep students on track.
            </p>
        </div>

        <div class="m_second-container-info-card-3">
            <img class="m_second-container-card_icon" src="../../../assets/img/icon-4-3.png" />
            <h4 class="m_second-container-card_title"> More Partner , less vendor </h4>
            <p class="m_second-container-card_info">
                Our team continues to work with customers on optimising Brightspace for their strategic and tactical
                needs even long after implementation.
            </p>
        </div>

        <div class="m_second-container-info-card-4">
            <img class="m_second-container-card_icon" src='../../../assets/img/icon-4-4.png' />
            <h4 class="m_second-container-card_title"> Tools that enhance teaching success </h4>
            <p class="m_second-container-card_info">
                Your academic tasks now simplified. You need to only drag-and-drop content for courses, grade and
                annotate on assignments in a single hub.
            </p>
        </div>

        <div class="m_second-container-info-card-5">
            <img class="m_second-container-card_icon" src="../../../assets/img/icon-4-5.png" />
            <h4 class="m_second-container-card_title"> Improved outcomes with engaging courses </h4>
            <p class="m_second-container-card_info">
                See the engagement of every learner through our dashboard to identify students who need help to deliver
                the right content and feedback.
            </p>
        </div>
    </div>
</div>