.m_second-container{
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(2 , 1fr);

    border-bottom: 1px solid #000000;
}

.m_second-container-header{
    grid-row: 1/-1;
    grid-column: 1/2;

    align-self: flex-start;
    justify-self: center;
    z-index: 2;

    margin-left: 40px;
    font-family: ARS Maquette;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.m_second-container-img{
    grid-row: 1/2;
    grid-column: 1/-1;

    background-color: cadetblue;
    width: 98%;
    justify-self: center;
}

.m_second-container-info{
    grid-row: 2/-1;
    grid-column: 1/-1;
    width: 98%;
    justify-self: center;

    display: grid;
    grid-template-rows: repeat(2 , 1fr);
    grid-template-columns: repeat(5 , 1fr)
}

.m_second-container-info-card-1,
.m_second-container-info-card-2,
.m_second-container-info-card-3,
.m_second-container-info-card-4,
.m_second-container-info-card-5{
    grid-row: 1/-1;
    height: 80%;
    width: 80%; 

    align-self: center;
    justify-self: flex-start;

    display: grid;
    grid-template-rows: repeat(2 , 5rem) 1fr;
    grid-template-columns: repeat(2 , 1fr);
}


.m_second-container-card_icon{
    grid-row: 1/2;
    grid-column: 1/2;

    align-self: center;
    justify-self: flex-start;

    height: 70%;
    width: 50%;
}

.m_second-container-card_title{
    grid-row: 2/3;
    grid-column: 1/-1;

    justify-self: flex-start;
    align-self: flex-start;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.m_second-container-card_info{
    grid-row: 3/4;
    grid-column: 1/-1;
}

.m_second-container-info-card-1{
    grid-column: 1/2;
}

.m_second-container-info-card-2{
    grid-column: 2/3;
}

.m_second-container-info-card-3{
    grid-column: 3/4;
}

.m_second-container-info-card-4{
    grid-column:4/5;
}

.m_second-container-info-card-5{
    grid-column:5/6;
}
