.m_header-container{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: repeat(2 , 1fr);
    grid-template-columns: repeat(7 , 1fr);
}

.m_header-container_logo{
    grid-row: 1/-1;
    grid-column: 1/3;

    height: 60%;
    width: 30%;

    align-self:center;
    justify-self: center;
}

.m_header-container_header-1,
.m_header-container_header-2,
.m_header-container_header-3,
.m_header-container_header-4
{
    grid-row: 1/-1;
    align-self: center;
    justify-self: center;


    font-size: 16px;
    line-height: 19px;

    border-right: 1px solid black;

    width: 70%;
    text-transform: uppercase;
}

.m_header-container_header-1{
    grid-column: 3/4;
    width: 100%;
}

.m_header-container_header-2{
    grid-column: 4/5;
}

.m_header-container_header-3{
    grid-column: 5/6;
}

.m_header-container_header-4{
    grid-column: 6/7;
    width: 100%;
    border-right: none;
}


.m_header-container_header-5{
    grid-row: 1/-1;
    align-self: center;
    justify-self: center;

    width: 89px;
    height: 30px;
    font-size: 16px;
    line-height: 19px;

    grid-column: 7/8;

    color: white;
    background: #007199;
    border-radius: 50px;

    font-size: 12px;

    border: none;
    text-align: center;
}