<div class="m_header-container">
    <img class="m_header-container_logo" src="../../../assets/img/d2l-logo.png" />

    <h3 class="m_header-container_header-1"> Success Stories </h3>
    <h3 class="m_header-container_header-2"> Events </h3>
    <h3 class="m_header-container_header-3"> Partners </h3>
    <h3 class="m_header-container_header-4"> Blog Highlights </h3>

    <button class="m_header-container_header-5"> Let's Talk </button>
</div>