<div class="m_third-container">
    <h3 class="m_third-container-header"> Our customers success stories </h3>

    <div class="m_third-container-card-1">
        <img class="m_third-container-card-img" src="../../../assets/img/customer-1.png" />
        <h4 class="m_third-container-card-title"> Singapore Management University </h4>
        <p class="m_third-container-card-info">
            SMU, in partnership with D2L, is pioneering an interactive pedagogy that is both personal and pervasive...
        </p>
        <a class="m_third-container-card-link"> Watch The Video </a>
    </div>

    <div class="m_third-container-card-2">
        <img class="m_third-container-card-img" src="../../../assets/img/customer-2.png" />
        <h4 class="m_third-container-card-title"> Singapore Management University </h4>
        <p class="m_third-container-card-info">
            SMU, in partnership with D2L, is pioneering an interactive pedagogy that is both personal and pervasive...
        </p>
        <a class="m_third-container-card-link"> Watch The Video </a>
    </div>

    <div class="m_third-container-card-3">
        <img class="m_third-container-card-img" src="../../../assets/img/customer-3.png" />
        <h4 class="m_third-container-card-title"> Singapore Management University </h4>
        <p class="m_third-container-card-info">
            SMU, in partnership with D2L, is pioneering an interactive pedagogy that is both personal and pervasive...
        </p>
        <a class="m_third-container-card-link"> Watch The Video </a>

    </div>

    <div class="m_third-container-card-4">
        <img class="m_third-container-card-img" src="../../../assets/img/customer-4.png" />
        <h4 class="m_third-container-card-title"> Singapore Management University </h4>
        <p class="m_third-container-card-info">
            SMU, in partnership with D2L, is pioneering an interactive pedagogy that is both personal and pervasive...
        </p>
        <a class="m_third-container-card-link"> Watch The Video </a>
    </div>

</div>