.m_third-container{
    height: 100%;
    display: grid;
    grid-template-rows: 5rem repeat(2 , 1fr);
    grid-template-columns: repeat(2 , 1fr);
}

.m_third-container-header{
    grid-row: 1/2;
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
    color: black;
}

.m_third-container-card-1,
.m_third-container-card-2,
.m_third-container-card-3,
.m_third-container-card-4{
    display: grid;
    
    grid-template-rows: repeat(3 , 1fr);
    grid-template-columns: 2fr 1.9fr;

    width: 80%;
}

.m_third-container-card-img{
    grid-row: 1/-1;
    grid-column: 1/2;

    padding: 10px;
    width: 50%;
    height: 40%;

    align-self: center;
    justify-self: flex-end;

    margin-right: 20px;
    border: 1px solid black;
}

.m_third-container-card-title{
    grid-row: 1/2;
    grid-column: 2/3;

    justify-self: flex-start;
}

.m_third-container-card-info{
    grid-row: 2/-1;
    grid-column: 2/3;

    align-self: flex-start;
    justify-self: flex-start;
}

.m_third-container-card-link{
    grid-row: 3/-1;
    grid-column: 2/3;

    align-self: flex-end;
}   

.m_third-container-card-1{
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
}

.m_third-container-card-2{
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: flex-start;
}

.m_third-container-card-3{
    grid-row: 3/4;
    grid-column: 1/2;

    justify-self: center;
}

.m_third-container-card-4{
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: flex-start;
}