.m_fifth-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 5rem 1fr 2fr;
    grid-template-columns: repeat(2 , 1fr);
}

.m_fifth-container-1{
    grid-row: 2/3;
    grid-column: 1/-1;

    background-color: white;

    display: grid;
    grid-template-rows: repeat(2 , 1fr);
    grid-template-columns: repeat(2 , 1fr);
}

.m_fifth-container-1-title{
    grid-row: 1/2;
    grid-column: 1/2;

    align-self: center;

    z-index: 2;
    color: white;
    font-size: 20px;

    justify-self: center;
}

.m_fifth-container-img{
    width: 1376px;
    height: 232px;
    grid-row: 1/2;
    grid-column: 1/-1;

    width: 95%;
    justify-self: center;
}

.m_fifth-container-items{
    grid-row: 2/3;
    grid-column: 1/-1;
    width: 95%;
    height: 70%;

    align-self: flex-start;
    justify-self: center;
    background-color: white;

    display: grid;
    grid-template-rows: repeat(2 , 1fr);
    grid-template-columns: repeat(3 , 1fr);
}

.m_fifth-container-items-1,
.m_fifth-container-items-2,
.m_fifth-container-items-3{
    grid-row: 1/-1;

    display: grid;
    grid-template-rows: repeat(2 , 1fr);
    grid-template-columns: repeat(2 , 1fr);
    
    border-right: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}

.m_fifth-container-item-title{
    grid-row: 1/2;
    grid-column: 1/-1;

    align-self: center;
    justify-self: center;
}

.m_fifth-container-item-sub_title{
    grid-row: 2/-1;
    grid-column: 1/-1;

    align-self: center;
    justify-self: center;
}

.m_fifth-container-items-1{
    grid-column: 1/2;
    width: 65%;

    justify-self: flex-start;
    border-bottom: none;
}

.m_fifth-container-items-2{
    grid-column: 1/3;
    width: 35%;
    justify-self: center;
}

.m_fifth-container-items-3{
    grid-column: 2/3;
    width: 65%;
    justify-self: flex-end;
}

.m_fifth-container-2{
    grid-row: 3/-1;
    grid-column: 1/-1;

    display: grid;
    grid-template-rows: 2fr 1.7fr;
    grid-template-columns: repeat(2 , 1fr);
}

.m_fifth-container-2-img{
    grid-row: 1/-1;
    grid-column: 2/3;

    background-color: goldenrod;
}

.m_fifth-container-2-card-1{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 70%;

    align-self: center;
    display: grid;
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-columns: repeat(2 , 1fr); 
}

.m_fifth-container-2-card-1-header{
    grid-row: 1/2;
    grid-column: 1/-1;

    align-self: center;
    justify-self: center;
    width: 70%;

    font-size: 30px;
    line-height: 133.98%;
    
    /* or 48px */
    
    color: #000000;
}

.m_fifth-container-2-card-1-description{
    grid-row: 2/3;
    grid-column: 1/-1;
    font-size: 18px;
    line-height: 133.98%;
    
    /* or 24px */
    
    color: #000000;
    align-self: center;
    justify-self: center;

    width: 70%;
}

.m_fifth-container-2-card-1-btn{
    grid-row: 3/-1;
    grid-column: 1/2;

    align-self: center;
    justify-self: center;

    
    background: #E87511;
    border-radius: 11px;

    border: none;
    height: 100%;
    width: 50%;

    margin-left: 5px;
    color: white;
    text-transform: uppercase;
}

.m_fifth-container-2-card-2{
    grid-row: 2/-1;
    grid-column: 1/2;

    display: grid;
    grid-template-columns: repeat(2 , 1fr); 

    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}


.m_fifth-container-2-card-2-item-1,
.m_fifth-container-2-card-2-item-2{
    display: grid;
    grid-template-rows: 1.8fr 2rem 2fr;

    grid-row: 1/-1;
}

.m_fifth-container-2-card-2-item-icon{
    grid-row: 1/2;

    align-self: center;
    justify-self: center;

    height: 40%;
    width: 15%;
}

.m_fifth-container-2-card-2-item-date_venue{
    grid-row: 2/3;

    align-self: center;
    justify-self: center;
}

.m_fifth-container-2-card-2-item-link{
    grid-row: 3/4;

    align-self: center;
    justify-self: center;

    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    text-transform: uppercase;
    
    color: #E87511;
}

.m_fifth-container-2-card-2-item-1{
    grid-column: 1/2;
    border-right: 1px solid #C4C4C4;
    /* background-color: blue; */
}


.m_fifth-container-2-card-2-item-2{
    grid-column: 2/3;
    /* background-color: pink; */
}