<div class="m_fifth-container">
    <div class="m_fifth-container-1">
        <p class="m_fifth-container-1-title"> Meet us on these upcoming events across Asia </p>
        <img class="m_fifth-container-img" src="../../../assets/img/conf-main.png" />

        <div class="m_fifth-container-items">
            <div class="m_fifth-container-items-1">
                <h5 class="m_fifth-container-item-title" (click)="onItemClick('india')"> BENGALURU, INDIA </h5>
                <p class="m_fifth-container-item-sub_title">
                    Didac India
                </p>
            </div>

            <div class="m_fifth-container-items-2" (click)="onItemClick('asia')">
                <h5 class="m_fifth-container-item-title"> Asia </h5>
                <p class="m_fifth-container-item-sub_title">
                    EduTech Asia
                </p>
            </div>

            <div class="m_fifth-container-items-3" (click)="onItemClick('singapore')">
                <h5 class="m_fifth-container-item-title"> SINGAPORE </h5>
                <p class="m_fifth-container-item-sub_title">
                    Ascilite
                </p>
            </div>
        </div>
    </div>

    <ng-template #mSingapore>
        <div class="m_fifth-container-2">
            <div class="m_fifth-container-2-img">

            </div>

            <div class="m_fifth-container-2-card-1">
                <h5 class="m_fifth-container-2-card-1-header"> Ascilite </h5>

                <p class="m_fifth-container-2-card-1-description">The theme of ASCILITE 2019 "Personalised Learning.
                    Diverse
                    Goals. One Heart." brings together the focus on the learner's needs in the use of technology and
                    sound
                    pedagogical practices. It recognizes the diverse motivation behind each learner in the design of
                    curriculum and the common goal in contributing to the betterment of the global society.
                </p>

                <button class="m_fifth-container-2-card-1-btn"> Register Now </button>
            </div>

            <div class="m_fifth-container-2-card-2">
                <div class="m_fifth-container-2-card-2-item-1">
                    <img class="m_fifth-container-2-card-2-item-icon" src="../../../assets/img/calendar.png" />
                    <p class="m_fifth-container-2-card-2-item-date_venue"> Date </p>
                    <a class="m_fifth-container-2-card-2-item-link"> Add To Calender </a>
                </div>

                <div class="m_fifth-container-2-card-2-item-2">
                    <img class="m_fifth-container-2-card-2-item-icon" src="../../../assets/img/map.png" />
                    <p class="m_fifth-container-2-card-2-item-date_venue"> Venus </p>
                    <a class="m_fifth-container-2-card-2-item-link"> View in Map </a>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template *ngIf="events === 2; else mSingapore" #mAsia>
        <div class="m_fifth-container-2">
            <div class="m_fifth-container-2-img">

            </div>

            <div class="m_fifth-container-2-card-1">
                <h5 class="m_fifth-container-2-card-1-header"> 2019 EduTech Asia </h5>

                <p class="m_fifth-container-2-card-1-description">The conference is for those serious about teaching and
                    delivering education that is relevant in the 21st century. This conference comprises of
                    inspirational keynotes from across the world, pioneering educators and technology leaders.
                </p>

                <button class="m_fifth-container-2-card-1-btn"> Register Now </button>
            </div>

            <div class="m_fifth-container-2-card-2">
                <div class="m_fifth-container-2-card-2-item-1">
                    <img class="m_fifth-container-2-card-2-item-icon" src="../../../assets/img/calendar.png" />
                    <p class="m_fifth-container-2-card-2-item-date_venue"> Date </p>
                    <a class="m_fifth-container-2-card-2-item-link"> Add To Calender </a>
                </div>

                <div class="m_fifth-container-2-card-2-item-2">
                    <img class="m_fifth-container-2-card-2-item-icon" src="../../../assets/img/map.png" />
                    <p class="m_fifth-container-2-card-2-item-date_venue"> Venus </p>
                    <a class="m_fifth-container-2-card-2-item-link"> View in Map </a>
                </div>
            </div>
        </div>
    </ng-template>

    <div class="m_fifth-container-2" *ngIf="event === 1; else mAsia">
        <div class="m_fifth-container-2-img">
            1
        </div>

        <div class="m_fifth-container-2-card-1">
            <h5 class="m_fifth-container-2-card-1-header"> Didac India </h5>

            <p class="m_fifth-container-2-card-1-description">Didac India is a must attend for everyone from the
                education & training sector. It is India’s only event where one can witness global education and
                training resources & solutions from over 32 countries and upgrade their institute to global standards.
            </p>

            <button class="m_fifth-container-2-card-1-btn"> Register Now </button>
        </div>

        <div class="m_fifth-container-2-card-2">
            <div class="m_fifth-container-2-card-2-item-1">
                <img class="m_fifth-container-2-card-2-item-icon" src="../../../assets/img/calendar.png" />
                <p class="m_fifth-container-2-card-2-item-date_venue"> Date </p>
                <a class="m_fifth-container-2-card-2-item-link"> Add To Calender </a>
            </div>

            <div class="m_fifth-container-2-card-2-item-2">
                <img class="m_fifth-container-2-card-2-item-icon" src="../../../assets/img/map.png" />
                <p class="m_fifth-container-2-card-2-item-date_venue"> Venus </p>
                <a class="m_fifth-container-2-card-2-item-link"> View in Map </a>
            </div>
        </div>
    </div>
</div>