.m_seventh-container{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 3rem repeat(2, 1fr);
    grid-template-columns: repeat(3 , 1fr);
}

.m_seventh-header{
    grid-row: 1/2;
    grid-column: 1/-1;

    align-self: center;
    justify-self: center;
}

.m_seventh-card-1,
.m_seventh-card-2,
.m_seventh-card-3,
.m_seventh-card-4,
.m_seventh-card-5,
.m_seventh-card-6{
    width: 80%;
    height: 80%;

    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-rows: 1fr 5rem;
}

.m_seventh-card-img{
    grid-row: 1/2;
    grid-column: 1/-1;
    background-color: green;

    border-radius: 8px;
}

.m_seventh-card-heading{
    grid-row: 2/3;
    grid-column: 1/-1;

    font-family: ARS Maquette;
    font-size: 18px;
    line-height: 133.98%;
    align-self: flex-start;
    /* or 24px */
    
    color: #000000;
}

.m_seventh-card-1,
.m_seventh-card-2,
.m_seventh-card-3{
    grid-row: 2/3;
}

.m_seventh-card-1{
    grid-column: 1/2;
}

.m_seventh-card-2{
    grid-column: 2/3;
}

.m_seventh-card-3{
    grid-column: 3/4;
}

.m_seventh-card-4,
.m_seventh-card-5,
.m_seventh-card-6
{
    grid-row: 3/4;
}

.m_seventh-card-4{
    grid-column: 1/2;

}

.m_seventh-card-5{
    grid-column: 2/3;
}

.m_seventh-card-6{
    grid-column: 3/4;
}