<div class="m_seventh-container">
    <h3 class="m_seventh-header"> Blog Highlights </h3>

    <div class="m_seventh-card-1">
        <p class="m_seventh-card-img"> Img </p>
        <p class="m_seventh-card-heading"> Top 6 Time-Saving Tools for Academics and Teaching Staff </p>
    </div>

    <div class="m_seventh-card-2">
        <p class="m_seventh-card-img"> Img </p>
        <p class="m_seventh-card-heading"> Four Strategies to Inspire Active Learning </p>
    </div>

    <div class="m_seventh-card-3">
        <p class="m_seventh-card-img"> Img </p>
        <p class="m_seventh-card-heading"> Reimagining the Classroom as Part of Your Innovation Strategy? </p>
    </div>

    <div class="m_seventh-card-4">
        <p class="m_seventh-card-img"> Img </p>
        <p class="m_seventh-card-heading"> From Lecturer to Facilitator – Five Emerging Roles for Online Teachers </p>
    </div>

    <div class="m_seventh-card-5">
        <p class="m_seventh-card-img"> Img </p>
        <p class="m_seventh-card-heading"> Welcome to a New World of Innovating Education </p>
    </div>

    <div class="m_seventh-card-6">
        <p class="m_seventh-card-img"> Img </p>
        <p class="m_seventh-card-heading"> Introducing New Visualisations in Advanced Analytics for Better Learning
            Outcomes </p>
    </div>
</div>