.m_footer-container{
    height: 100%;
    width: 100%;

    background-color: #717171;

    display: grid;
    grid-template-rows: repeat(2 , 1fr);
    grid-template-columns: repeat(7 , 1fr);
}

.m_footer-icon{
    grid-row: 1/-1;
    grid-column: 1/2;

    align-self: center;
    justify-self: center;

    width: 70%;
    height: 60%;

    background-color: green;
}

.m_footer-list{
    grid-row: 1/-1;
    grid-column: 2/-1;

    display: grid;
    grid-template-rows: repeat(2 , 1fr);
    grid-template-columns: repeat(8 , 1fr);

    width: 95%;
    justify-self: center;
}

.m_footer-list-1,
.m_footer-list-2,
.m_footer-list-3,
.m_footer-list-4,
.m_footer-list-5,
.m_footer-list-6,
.m_footer-list-7,
.m_footer-btn
{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 19px;
    width: 100%;
    border-right: 1px solid white;
    
    grid-row: 1/-1;

    align-self: center;
    justify-self: center;
    text-align: center;
}

.m_footer-btn{
    grid-column: 8/9;
    border: none;

    color: white;
    height: 20%;
    background: #E87511;
    border-radius: 50px;
}

.m_footer-list-1{
    grid-column: 1/2;
}

.m_footer-list-2{
    grid-column: 2/3;
}

.m_footer-list-3{
    grid-column: 3/4;
}

.m_footer-list-4{
    grid-column: 4/5;
}

.m_footer-list-5{
    grid-column: 5/6;
}

.m_footer-list-6{
    grid-column: 6/7;
}

.m_footer-list-7{
    grid-column: 7/8;
    border: none;
}