<div class="m_footer-container">
    <div class="m_footer-icon">

    </div>

    <div class="m_footer-list">
        <p class="m_footer-list-1"> uccesses Stories </p>
        <p class="m_footer-list-2"> Events </p>
        <p class="m_footer-list-3"> Partners </p>
        <p class="m_footer-list-4"> Blog Highlights </p>
        <p class="m_footer-list-5"> About Us </p>
        <p class="m_footer-list-6"> Privacy </p>
        <p class="m_footer-list-7"> Contact Us </p>

        <button class="m_footer-btn"> Let's Talk </button>
    </div>
</div>