.m_app-container{
    display: grid;
    grid-template-rows: 215px repeat(2 , 1fr);
    grid-template-columns: repeat(2 ,1fr);

    height: 100vh;
}

.m_app-header{
    grid-row: 1/2;
    grid-column: 1/-1;
}

.m_app-content_container{
    grid-row: 2/-1;
    grid-column: 1/-1;

    display: grid;
    grid-template-rows: repeat(5 , 1fr);
    grid-template-columns: repeat(2 , 1fr);
}

.m_app-first_container,
.m_app-second_container,
.m_app-third_container,
.m_app-fourth_container,
.m_app-fifth_container,
.m_app-sixth_container,
.m_app-seventh_container,
.m_app-footer
{
    grid-column: 1/-1;

    height: 80vh;
}

.m_app-first_container{
    grid-row: 2/3;
    height: 90vh;
}

.m_app-second_container{
    grid-row: 3/4;
    height: 80vh;
}

.m_app-third_container{
    grid-row: 4/5;
    height: 80vh;
}

.m_app-fourth_container{
    grid-row: 5/6;

    height: 10vh;
}

.m_app-fifth_container{
    grid-row: 6/7;
    height: 150vh;
}

.m_app-sixth_container{
    grid-row: 7/8;
    height: 90vh;
}

.m_app-seventh_container{
    grid-row: 8/9;
    height: 90vh;
}

.m_app-footer{
    grid-row: 9/10;
    height: 25vh;
}