<div class="m_app-container">
  <div class="m_app-header">
    <m-header></m-header>
  </div>

  <div class="m_app-content_container">
    <div class="m_app-first_container">
      <m-first></m-first>
    </div>

    <div class="m_app-second_container">
      <m-second></m-second>
    </div>

    <div class="m_app-third_container">
      <m-third></m-third>
    </div>

    <div class="m_app-fourth_container">
      <m-fourth></m-fourth>
    </div>

    <div class="m_app-fifth_container">
      <m-fifth></m-fifth>
    </div>

    <div class="m_app-sixth_container">
      <m-sixth></m-sixth>
    </div>
  
    <div class="m_app-seventh_container">
      <m-seventh></m-seventh>
    </div>

    <div class="m_app-footer">
      <m-footer></m-footer>
    </div>

  </div>
</div>