.m_sixth-container{
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: repeat(2 , 1fr);

    align-self: center;
}

.m_sixth-header{
    grid-row: 1/2;
    grid-column: 1/-1;

    align-self: center;
    justify-self: center;
    font-size: 25px;
    line-height: 53px;
    letter-spacing: -0.03em;
    
    color: #000000;
}

.m_sixth-item{
    grid-row: 2/-1;
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: repeat(3 , 1fr);
    grid-template-columns: repeat(2,  1fr);
}

.m_sixth-item-1,
.m_sixth-item-2,
.m_sixth-item-3,
.m_sixth-item-4,
.m_sixth-item-5{
    width: 70%;
    height: 80%;

    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-rows: repeat(3 , 1fr);
    grid-template-columns: repeat(2 , 1fr);
}

.m_sixth-item-icon{
    grid-row: 1/-1;
    grid-column: 1/2;

    width: 113px;
    height: 83px;

    align-self: center;
    justify-self: center;

    padding: 10px;

    border: 1px solid black;
}

.m_sixth-item-header,
.m_sixth-item-small_header,
.m_sixth-item-link,
.m_sixth-item-contact{
    grid-column: 2/3;
}

.m_sixth-item-small_header{
    grid-row: 1/2;
    align-self: flex-start;
}

.m_sixth-item-header{
    grid-row: 1/3;
    align-self: center;
}

.m_sixth-item-link{
    grid-row: 2/3;
}

.m_sixth-item-contact{
    grid-row: 3/4;
    align-self: flex-end;
}

.m_sixth-container{
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}

.m_sixth-item-1,
.m_sixth-item-2,
.m_sixth-item-3{
    grid-column: 1/2;
}

.m_sixth-item-1{
    grid-row: 1/2;

    /* background-color: blue; */
}

.m_sixth-item-2{
    grid-row: 2/3;

    /* background-color: green; */
}

.m_sixth-item-3{
    grid-row: 3/4;

    /* background-color: pink; */
}

.m_sixth-item-4,
.m_sixth-item-5{
    grid-column: 2/3;
}

.m_sixth-item-4{
    grid-row: 1/2;
    /* background-color: aqua; */
}

.m_sixth-item-5{
    grid-row: 2/3;
    /* background-color: coral; */
}