<div class="m_sixth-container">
    <h3 class="m_sixth-header"> Our Regional Partner </h3>

    <div class="m_sixth-item">
        <div class="m_sixth-item-1">
            <img class="m_sixth-item-icon" src="../../../assets/img/speaker-2.png" />
            <p class="m_sixth-item-small_header"> India </p>
            <p class="m_sixth-item-header"> Ingegno Transmedia </p>

            <p class="m_sixth-item-link"> weblink </p>
            <p class="m_sixth-item-contact">
                sales@ingegno.in
                <br>
                +91 4424545411 / +91 9840422324 </p>
        </div>
        <div class="m_sixth-item-2">
            <img class="m_sixth-item-icon" src="../../../assets/img/speaker-1.png" />
            <p class="m_sixth-item-small_header"> Philiphinis </p>
            <p class="m_sixth-item-header"> Globe Telecom </p>

            <p class="m_sixth-item-link"> Web link </p>
            <p class="m_sixth-item-contact">
                sales@ingegno.in
                <br>
                +91 4424545411 / +91 9840422324 </p>
        </div>

        <div class="m_sixth-item-3">
            <img class="m_sixth-item-icon" src="../../../assets/img/speaker-4.png" />
            <p class="m_sixth-item-small_header"> Vietnam </p>
            <p class="m_sixth-item-header"> TED Engineering Documents </p>

            <p class="m_sixth-item-link"> Web link </p>
            <p class="m_sixth-item-contact">
                sales@ingegno.in
                <br>
                +91 4424545411 / +91 9840422324 </p>
        </div>

        <div class="m_sixth-item-4">
            <img class="m_sixth-item-icon" src="../../../assets/img/speaker-5.png" />
            <p class="m_sixth-item-small_header"> Indoneasia </p>
            <p class="m_sixth-item-header"> Sejahtera Group </p>

            <p class="m_sixth-item-link"> Web link </p>
            <p class="m_sixth-item-contact">
                sales@ingegno.in
                <br>
                +91 4424545411 / +91 9840422324 </p>
        </div>

        <div class="m_sixth-item-5">
            <img class="m_sixth-item-icon" src="../../../assets/img/speaker-3.png" />
            <p class="m_sixth-item-small_header"> Thailand </p>
            <p class="m_sixth-item-header"> Genesis MediaCom </p>

            <p class="m_sixth-item-link"> Web link </p>
            <p class="m_sixth-item-contact">
                sales@ingegno.in
                <br>
                +91 4424545411 / +91 9840422324 </p>
        </div>
    </div>
</div>